<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DesarrolloSistemasOOP_proyectoIntegrador{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Mensajes flash -->
        {% include 'components/flash_messages.html' %}

        {% block content %}
        {% endblock %}
        {% include('partials/_footer.html') %}  
    </div>

    
</body>
</html>